.container__menu-title {
    border-top: 2px solid white;
    border-bottom: 2px solid white;   
    background-color: black;
    background-image: url('https://wallpaperset.com/w/full/3/8/2/200785.jpg');
    background-size: contain;   
    background-repeat: no-repeat;
}

.container__menu-title > h1 {
    background: none;
    
   
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:135px;
    max-height: 140px;

    display: flex;
    justify-content: center;
    align-items: center;
}



.container__menu-title > p {
    background: none;
    margin-bottom: 25px;
    font-size: 25px;

    display: flex;
    justify-content: center;
}